@import url("https://fonts.googleapis.com/css2?family=Gilroy:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100%;
  background: pink;
  position: relative;
  padding: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  text-decoration: none;
  color: #000;
  padding: 0 2rem;
  font-size: 1.8rem;
}

nav h1 {
  font-size: 4rem;

  gap: 1rem;
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
}

nav button {
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: #000;
  color: #fff;
}

.center {
  height: 80%;
  width: 100%;
  display: flex;
  padding: 6rem 8rem;
}

.center-part1 {
  height: 100%;
  width: 45%;
}

.center-part1 h1 {
  font-size: 7rem;
  line-height: 1.2;
}
.center-part1 p {
  font-size: 2rem;
  width: 95%;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.center-part1 button {
  background: black;
  color: white;
  border-radius: 1rem;
  padding: 2rem 3rem;
  border: none;
}
.center-part2 {
  height: 100%;
  width: 55%;
  position: relative;
}
.center-part2 img {
  height: 100%;
  position: absolute;
  right: 0;
}

.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
}

.section1bottom img {
  width: 14rem;
  height: 10rem;

  object-fit: contain;
}

.section2 .services {
  padding: 3rem 11rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2.5rem;
}

.services h3 {
  background-color: #9ae975;
  font-weight: 500;
  padding: 0.4rem 0.8rem 0.2rem 0.8rem;
  border-radius: 0.4rem;
  font-size: 4.5rem;
}

.services p {
  width: 40%;
  font-size: 1.5rem;
}

.container {
  height: 80%;
  width: 100%;
  padding: 3rem 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.elem {
  flex-shrink: 0;
  height: 26rem;
  width: 47%;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0px 0.8rem 0 black;
  padding: 5rem;
  display: flex;
}

.elem-part1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.elem-part2 {
  height: 100%;
  width: 50%;
}

.elem-part2 img {
  height: 100%;
}

.elem-part1 h2 {
  font-size: 2rem;
  line-height: 1.2;
  background-color: #9ae975;
  width: 70%;
  padding: 0 0.8rem;
  border-radius: 10px;
}
.elem-part1 h4 {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1rem;
}

.elem-part1 h4 i {
  padding: 0.5rem;
  background: black;
  color: white;
  border-radius: 50%;
}

.black {
  background-color: black;
  color: white;
}

.black h2,
.black h4 i {
  background: white;
  color: black;
}
